*{margin:0;padding:0}html,body,#app,.app-container{height:100%}.app-container{padding:50px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.app-container h1{border-left:5px solid #ccc;padding-left:15px}.app-container p{cursor:pointer;margin:10px 0}

