@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    background: #fff;
    padding: 40px;

    h1 {
      border-left: 5px solid #ccc;
      padding-left: 15px;
    }
    p {
      cursor: pointer;
      margin: 10px 0;
    }
    input {
      margin-right: 4px;
    }
  }
}
